.App {
    display: grid;
    grid-template-areas:
" header header"
"sidebar content";
}

.header {
    background-color: greenyellow;
    grid-area: header;

}

.sidebar {
    background-color: green;
    grid-area: sidebar;
    min-width: 150px;
    width: 200px;
}

.content {
    background-color: indianred;
    grid-area: content;
}